__pycache__/
tests
*.pyc
template
workspace*
OAI_CONFIG_LIST*
AgentFlow.egg-info
logs
examples
memory_bank
.agentflow/

CodeRAG/nltk_data
CodeRAG/venv
CodeRAG/*.env
CodeRAG/faiss_index.bin
CodeRAG/metadata.npy
